#main_tf{
    
    /* color: black; */
    width: 75px;
    /* height: 10%; */
    margin: 10px;
    display: flex;
    flex-direction: column;
    padding: 3px;
    /* border: solid; */
    position: relative;
    
}

#icon_tf{
    align-self: center;
    width: 80%;
    /* border: solid; */
    color: red;
}

#file_name_tf{
    margin: 0;
    /* border: solid; */
    line-height: 125%;
    text-align: center;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 12.5px;
    
}

#main_tf:hover #hover{
    display: inline-block;
}

#hover{
    display: none;
    position: absolute;
    left: 120%;
    top: -10%;
    border: solid;
    border-width: 1px;
    background-color: rgba(168, 168, 168, 0.904);
    border-color: rgb(190, 190, 190);
    color: #2e2e2e;
    width: 150px;
    min-height: 50px;
    font-size: 12.5px;
    flex-wrap: wrap;
    padding: 5%;
    text-align: left;
    z-index: 99999;
}

.blue{
    transition: 50ms;
    border: solid;
    border-color: #00000000;
    border-width: 1px;
    border-radius: 0;
    background-color:#00000000;
}

.blue:hover{
    cursor: pointer;
    background-color: #528b9d3c;
    border: solid;
    border-width: 1px;
    border-color: #426a77c1;
}