#main_tf{
    
    /* color: black; */
    width: 75px;
    /* height: 10%; */
    margin: 10px;
    display: flex;
    flex-direction: column;
    padding: 3px;
    /* border: solid; */
    
}

#icon_tf{
    align-self: center;
    width: 80%;
    /* border: solid; */
    color: red;
}

#file_name_tf{
    margin: 0;
    /* border: solid; */
    text-align: center;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 12.5px;
    
}

.blue{
    transition: 50ms;
    border: solid;
    border-color: #00000000;
    border-width: 1px;
    border-radius: 0;
    background-color:#00000000;
}

.blue:hover{
    cursor: pointer;
    background-color: #528b9d3c;
    border: solid;
    border-width: 1px;
    border-color: #426a77c1;
}