#main_mp{
    background-color: rgba(153, 205, 50, 0.458);
    height: 100vh;
    width: 100vw;
    z-index: 2;
    background-image: url('../../assets/windows_background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}