#profile_banner{
    display: flex;
    border: solid;
    color: yellow;
    width: 100%;
}

#profile_banner #pfp{
    display: flex;
    flex: 1;
    aspect-ratio: 1 / 1;
    background-image: url('../../assets/specific/about_txt_profile.jpg');
    /* height: auto; */
    border: solid;
    color: red;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 100%;
    
}

#profile_banner #right{
    color: white;
    /* border: solid; */
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: center;

}

#profile_banner h1{
    /* border: solid; */
    text-align: center;
    margin: 0 0 5% 0;
}

#profile_banner p{
    display: flex;
    /* border: solid; */
    margin: 0 0 0 5%;
    
}

#profile_banner a{
    display: flex;
    /* border: solid; */
    
}

#profile_banner img{
    /* border: solid; */
    height: 50%;
    margin: auto auto auto 10px;

    
}