#main_app{
  background-color: lightblue;
  width: 100vw;
  height: 100vh;
  display: flex;
}

#message{
  position: fixed;
  /* border: solid; */
  z-index: 99999;
  bottom: 7.5%;
  right: 3.40%;
  color: rgba(150, 150, 150, 0.8);
  font-size: 15px;
  margin: 0;
}
#message #header{
  font-size: 20px;
}

#message p{
  margin: 0;
  /* border: solid; */
}

.global_grey{
  color: grey;
}

/* font-size: 15px; */